// ---------------------------------------------------------
// Color
// ---------------------------------------------------------

$primary: #adc178;
$secondary: #dde5b6;

$black: #000;
$white: #fff;
